@page
@model CSBCA.Pages.reference.pathModel
@using SDBCS.utility
@using Microsoft.AspNetCore.Html
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@Model.pageTitle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/print.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/print.min.js"></script>
    <script src="/js/csbca.js"></script><script src="/js/exceljs.min.js"></script><script src="/js/FileSaver.js"></script>
</head>

<body>

    @(new HtmlString(Model.menuString))

    <div class="container-fluid">
        <div class="row">

            @(new HtmlString(Model.leftSideStr))

            <div class="col-md-11 col-xl-10">
                <a href="#yeniK" class="btn btn-outline-dark" data-toggle="collapse">Yeni @Model.pageTitle</a>
                <form id="yeniK" class="form collapse" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="y_1" style="margin-top: 7px;">
                                            @Model.labelNames[1]:
                                        </label>
                                    </td>
                                    <td>
                                        <input type="@Model.inputTypes[1]" class="form-control form-control-sm"
                                               name="@Model.fieldNames[1]" id="y_1" placeholder="@Model.labelNames[1] giriniz."
                                               required>
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-sm"
                                                onclick='sendInsert("@Model.pageName", "yeniK")'>
                                            Kaydet
                                        </button>
                                    </td>
                                    <td><button type="reset" class="btn btn-outline-secondary btn-sm">İptal</button></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#araK" class="btn btn-outline-dark" data-toggle="collapse">@Model.pageTitle Ara</a>
                <form id="araK" class="form collapse" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><label for="s_1" style="margin-top: 7px;">@Model.labelNames[0]:</label></td>
                                    <td>
                                        <input type="@Model.inputTypes[0]" class="form-control form-control-sm" id="s_1"
                                               name="@Model.selectFields[0]" placeholder="@Model.labelNames[0] giriniz.">
                                    </td>
                                    <td><label for="s_2" style="margin-top: 7px;">@Model.labelNames[1]:</label></td>
                                    <td>
                                        <input type="@Model.inputTypes[1]" class="form-control form-control-sm" id="s_2"
                                               name="@Model.selectFields[1]" placeholder="@Model.labelNames[1] giriniz.">
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-sm"
                                                onclick='sendSelect("@Model.pageName","araK")'>
                                            Ara
                                        </button>
                                    </td>
                                    <td><button type="reset" class="btn btn-outline-secondary btn-sm">İptal</button></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" id="ldTable">
            <div class="col-md-12">
                <h2 class="sub-header">@Model.pageTitle Listesi</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed table-sm">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th onclick="sortById()">@Model.labelNames[0]</th>
                                <th onclick="sortByProp('group_name')">@Model.labelNames[1]</th>
                            </tr>
                        </thead>
                        <tbody id="listTb"></tbody>
                    </table>
                </div>

                <div id="pgnId">
                    <ul class="pagination">
                        <li>
                            @{ var lineCount = Model.sessionBean.getLineCount();}
                            <input id="p_size" type="text" class="form-control form-control-sm" value=@lineCount
                                   size=3 onchange="setPage()">
                            <br />
                        </li>
                        <li>
                            <button type="button" class="btn btn-outline-info btn-sm" id="pageO" onclick="getPage('O')" aria-label="Önceki">
                                <span aria-hidden="true">
                                    &laquo;
                                </span>
                            </button>
                        </li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" id="page1" onclick="paging(1)" value="1">1</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" id="page2" onclick="paging(2)" value="2">2</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" id="page3" onclick="paging(3)" value="3">3</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" id="page4" onclick="paging(4)" value="4">4</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" id="page5" onclick="paging(5)" value="5">5</button></li>
                        <li>
                            <button type="button" class="btn btn-outline-info btn-sm" id="pageS" onclick="getPage('S')" aria-label="Sonraki">
                                <span aria-hidden="true">
                                    &raquo;
                                </span>
                            </button>
                            <br />
                        </li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" onclick="exportToExcel('@Model.pageTitle'+'List')">Excel</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" onclick="exportToJson('@Model.pageTitle'+'List')">Json</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" onclick="exportToCSV('@Model.pageTitle'+'List')">CSV</button></li>
                        <li><button type="button" class="btn btn-outline-info btn-sm" onclick="exportToPDF('@Model.pageTitle'+'List')">PDF</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="alerts">

            @if ((Model.tableData == null || Model.tableData.Length == 0) && Model.isDebug)
            {
                <div id="alertw" class="alert alert-warning">
                    <strong>tableData</strong> is empty!
                    <br />
                    <strong>SQL0:</strong>
                    @Model.qsql
                    <br />
                    <strong>SQL1:</strong>
                    @Model.qsql2
                </div>
            }

            @if (Model.errorString != null && Model.errorString.Length > 0 && Model.isDebug)
            {
                <div id="alertd" class="alert alert-danger">
                    <strong>errorString :</strong>
                    @Model.errorString
                </div>
            }
            @if (Model.jsObjData != null && Model.jsObjData.Length > 0 && Model.isDebug)
            {
                <div id="alertd" class="alert alert-info">
                    <strong>jsObjData :</strong>
                    @Model.jsObjData
                    <br />
                    tableData[0][0] :
                    @(Model.tableData != null ? Model.tableData[0][0] : "")
                    <br />
                    messageString :
                    @(Model.messageString != null ? Model.messageString : "")
                </div>
            }

            @if (Model.messages != null && Model.messages.Length > 0 && Model.isDebug)
            {
                <br />
                <div id="alertd" class="alert alert-info">
                    <strong>messages[0] :</strong>
                    @Model.messages[0]
                </div>
                <br />
                <div id="alertd" class="alert alert-info">
                    <strong>messages[1] :</strong>
                    @Model.messages[1]
                </div>
                <br />
                <div id="alertd" class="alert alert-info">
                    <strong>messages[2] :</strong>
                    @Model.messages[2]
                </div>
            }
        </div>

    </div>

    <script>
          var jsObjData, dataList, selectLists, fieldNames, selectNames, labelNames, inputTypes, readOnlyFM, invisibleFM, requiredFM,
            isModal, isWithRefs, selInpIds, listN4Page, listN4Modal, dateF, timeF, pageNo, totRow, lineCount, mCols, isLocale, lastProp;

          document.addEventListener("DOMContentLoaded", function(event){

            jsObjData = @(new HtmlString((Model.jsObjData != null && Model.jsObjData.Length > 0) ? Model.jsObjData : ""));
            dataList = jsObjData.data;

            fieldNames = @(new HtmlString(ArrayToString.getStringWithComma(Model.fieldNames)));
            selectNames = @(new HtmlString(ArrayToString.getStringWithComma(Model.selectFields))) ;
            labelNames = @(new HtmlString(ArrayToString.getStringWithComma(Model.labelNames))) ;
            inputTypes = @(new HtmlString(ArrayToString.getStringWithComma(Model.inputTypes))) ;
            readOnlyFM = @(new HtmlString(ArrayToString.getStringWithComma(Model.readOnlyFM.Select(x=>x.ToString()).ToArray()))) ;
            invisibleFM = @(new HtmlString(ArrayToString.getStringWithComma(Model.invisibleFM.Select(x=>x.ToString()).ToArray()))) ;
            requiredFM = @(new HtmlString(ArrayToString.getStringWithComma(Model.requiredFM.Select(x=>x.ToString()).ToArray()))) ;
            isModal = @(Model.isModal ? "true" : "false");
            isWithRefs = @(Model.isWithRefs ? "true" : "false");
            isLocale = @(Model.isLocale ? "true" : "false");

            excelCols = @(new HtmlString(Model.excelCols));
            lastProp = "@Model.fieldNames[0]";
            pageNo = 1;

            totRow = @(Model.tableData != null ? Model.tableData.Length : 0);

            lineCount=@lineCount ;
            mCols = 2;

            setPage();
          });
    </script>

    <div class="modal fade" id="guncM" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Model.pageTitle Güncelle</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="guncelleK" class="form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <div class="modal-body">
                            <table class="table table-borderless">
                                <tbody id="modalTb">
                                    <!-- Modal form fields is here.-->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <table class="table table-borderless">
                                <tbody id="modBt">
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-outline-info btn-sm"
                                                    onclick='sendUpdate("@Model.pageName","guncelleK")'>
                                                Kaydet
                                            </button>
                                            &nbsp;
                                            <button type="button" class="btn btn-outline-danger btn-sm"
                                                    onclick='sendDelete("@Model.pageName","guncelleK")'>
                                                Sil
                                            </button>
                                            &nbsp;
                                            <button type="reset" class="btn btn-outline-secondary btn-sm">İptal</button>
                                            &nbsp;
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Kapat</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
